@model Estimatz.UI.Models.ValidatePasswordRecoveryTokenModel
@using Estimatz.UI.Resources;
@{
    ViewData["Title"] = Language.GetString("RecoveryPassword");
}

<script>
    $("#headerIndex").addClass("d-none");
</script>

<div class="w-100 d-flex justify-content-center align-items-center" style="height:95vh">
    <img src="~/images/@Language.GetLogoName()" class="logo" />

    @*Seletor de idioma*@
    <div class="dropdown language-selector">
        <button class="btn dropdown-toggle text-black-50" type="button" id="dropdownLanguageSelector" data-bs-toggle="dropdown" aria-expanded="false">
            @Language.GetString("Language")
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" style="cursor:pointer" onclick="switchCulture('pt-br')">@Language.GetString("Portuguese")</a></li>
            <li><a class="dropdown-item" style="cursor:pointer" onclick="switchCulture('en-us')">@Language.GetString("English")</a></li>
            <li><a class="dropdown-item" style="cursor:pointer" onclick="switchCulture('es-es')">@Language.GetString("Spanish")</a></li>
        </ul>
    </div>

    @*Primeira etapa do wizard (criar senha)*@
    <div id="formCreateNewPasswordContent" class="shadow rounded p-lg-3 px-lg-5 w-100 form-content-wizard">
        <h1 style="color:#00C9EE" class="my-5 fs-2 text-center">@Language.GetString("RecoveryPassword")</h1>

        <form id="formCreateNewPassword" class="m-3 needs-validation was-validated" novalidate>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="PasswordRecoveryToken" />

            <div class="form-floating mb-3">
                <input type="password" class="form-control form-control-lg" id="inputCreatePassword" placeholder="Password" asp-for="Password" required>
                <label for="inputCreatePassword" class="form-label text-black-50">@Language.GetString("NewPassword")</label>
            </div>

            <div class="form-floating mb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="" id="checkMinimumCharacter" onclick="return false;" required>
                    <label class="form-check-label" for="checkMinimumCaracter">@Language.GetString("MinimumCharacter")</label>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="" id="checkUppercase" onclick="return false;" required>
                    <label class="form-check-label" for="checkUppercase">@Language.GetString("UpperCaseLetter")</label>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="" id="checkLowerCase" onclick="return false;" required>
                    <label class="form-check-label" for="checkLowerCase">@Language.GetString("LowerCaseLetter")</label>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="" id="checkNumber" onclick="return false;" required>
                    <label class="form-check-label" for="checkNumber">@Language.GetString("Number")</label>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="" id="checkSpecialCharacter" onclick="return false;" required>
                    <label class="form-check-label" for="checkSpecialCharacter">@Language.GetString("SpecialCharacter")</label>
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control form-control-lg" id="inputConfirmPassword" placeholder="Password" asp-for="ConfirmPassword" required>
                <label for="inputConfirmPassword" class="form-label text-black-50">@Language.GetString("ConfirmPassword")</label>
            </div>
            <div class="d-flex flex-column align-items-center">
                <button id="buttonCreatePassword1" type="button" class="btn w-50 mb-3 d-none d-sm-block" style="background-color: #00C9EE; color: white">@Language.GetString("SaveNewPassword")</button>
                <button id="buttonCreatePassword2" type="button" class="btn w-75 mb-3 d-block d-sm-none" style="background-color: #00C9EE; color: white">@Language.GetString("SaveNewPassword")</button>
                <a id="linkPreviousStepCreateAccount" class="mt-2 mb-1" style="cursor: pointer; text-decoration: none; color:#00C9EE" asp-page="/Index">@Language.GetString("Cancel")</a>
            </div>
        </form>
    </div>
    
    @*Segunda etapa do wizard (confirmação de senha recuperada)*@
    <div id="passwordRecoveryContent" class="text-center d-none">
        <h1 class="fs-2 mb-5" style="color:#00C9EE">@Language.GetString("PasswordSuccessfullyRecovered")</h1>
        <a class="btn btn-primary mt-3" style="background-color: #00C9EE; border:none;" asp-page="/Index" role="button">@Language.GetString("GoBackToHomePage")</a>
    </div>

    @*Segunda etapa do wizard (confirmação de senha não recuperada)*@
    <div id="passwordNotRecoveryContent" class="text-center d-none">
        <h1 class="fs-2 mb-5" style="color:#00C9EE">@Language.GetString("CouldNotRecoverYourPassword")</h1>
        <div id="errorMessagesContainer" class="d-none">
            <p style="width: 300px" class="m-auto m-0 mt-2 text-black-50">@Language.GetString("AnErrorOcurred")</p>
        </div>
        <p style="width: 335px"  class="text-black-50 m-auto mb-5">@Language.GetString("AccountNotCreatedMessage01")</p>
        <a class="btn btn-primary" style="background-color: #00C9EE; border:none;" asp-page="/Index" role="button">@Language.GetString("GoBackToHomePage")</a>
    </div>
</div>

<script src="~/js/pages/partial/_recoverPasswordSecondStep.js" asp-append-version="true"></script>
<script>
    var recoverPasswordUrl = '@Url.Action("RecoverPassword", "Account")';
</script>