@page
@using Estimatz.UI.Resources;
@{
    ViewData["Title"] = Language.GetString("RecoveryPassword");
}

<script>
    $("#headerIndex").addClass("d-none");
</script>

<div class="w-100 d-flex justify-content-center align-items-center" style="height:95vh">
    <img src="~/images/@Language.GetLogoName()" class="logo" />

    @*Seletor de idioma*@
    <div class="dropdown language-selector">
        <button class="btn dropdown-toggle text-black-50" type="button" id="dropdownLanguageSelector" data-bs-toggle="dropdown" aria-expanded="false">
            @Language.GetString("Language")
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" style="cursor:pointer" onclick="switchCulture('pt-br')">@Language.GetString("Portuguese")</a></li>
            <li><a class="dropdown-item" style="cursor:pointer" onclick="switchCulture('en-us')">@Language.GetString("English")</a></li>
            <li><a class="dropdown-item" style="cursor:pointer" onclick="switchCulture('es-es')">@Language.GetString("Spanish")</a></li>
        </ul>
    </div>

    @*Primeira etapa do wizard (inserir e-mail)*@
    <div id="formInsertEmailContent" class="shadow rounded p-lg-3 px-lg-5 w-100 form-content-wizard">
        <h1 style="color:#00C9EE" class="my-5 fs-2 text-center">@Language.GetString("RecoveryPassword")</h1>

        <form id="formInsertEmail" class="m-3 needs-validation" novalidate>   
            <div class="d-flex justify-content-center">
                <p class="text-center mb-4" style="width: 335px">@Language.GetString("InsertYourEmailMessage")</p>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control form-control-lg" id="inputEmail" aria-describedby="emailHelp" placeholder="E-mail" required>
                <label for="inputEmail" class="form-label text-black-50">E-mail</label>
            </div>            
            <div class="d-flex flex-column align-items-center">
                <button id="buttonSendEmailRecoverPassword" type="button" class="btn w-50 mb-3" style="background-color: #00C9EE; color: white">@Language.GetString("SendEmail")</button>
                <a class="mt-2 mb-5" style="cursor: pointer; text-decoration: none; color:#00C9EE" asp-page="/Index">@Language.GetString("Cancel")</a>
            </div>
        </form>
    </div>

    @*Segunda etapa do wizard (confirmação de e-mail enviado)*@
    <div id="emailSendContent" class="text-center d-none">
        <h1 class="fs-2" style="color:#00C9EE">@Language.GetString("EmailSent")</h1>
        <p>@Language.GetString("InstructionsSendTo")</p>
        <p>Teste@teste.com</p>
        <a class="btn btn-primary mt-3" style="background-color: #00C9EE; border:none;" asp-page="/Index" role="button">@Language.GetString("GoBackToHomePage")</a>
    </div>

    @*Segunda etapa do wizard (confirmação de e-mail não enviado)*@
    <div id="emailNotSendContent" class="text-center d-none">
        <h1 class="fs-2" style="color:#00C9EE">@Language.GetString("EmailNotSent")</h1>
        <div id="errorMessagesContainer" class="d-none">
            <p style="width: 300px" class="m-auto m-0 mt-2 text-black-50">@Language.GetString("AnErrorOcurred")</p>
        </div>
        <p>@Language.GetString("AccountNotCreatedMessage01")</p>
        <a class="btn btn-primary" style="background-color: #00C9EE; border:none;" asp-page="/Index" role="button">@Language.GetString("GoBackToHomePage")</a>
    </div>
</div>

<script src="~/js/pages/partial/_recoverPasswordFirstStep.js" asp-append-version="true"></script>
<script>
    var sendEmailPasswordRecoveryUrl = '@Url.Action("SendEmailPasswordRecovery", "Account")';
</script>